---
title: "Gallery"
layout: "default"
---

<h1 class="text-3xl font-bold text-center my-8 text-indigo-700">{{ title }}</h1>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 px-2">
  {% for photo in collections.photos %}
    <div class="bg-white rounded-lg shadow-lg p-4 flex flex-col items-center">
      <img src="{{ photo.data.image }}" alt="{{ photo.data.title }}" class="w-full h-auto max-h-96 object-cover rounded-lg mb-3"/>
      {% if photo.data.title %}
        <div class="text-lg font-semibold mb-1 text-center">{{ photo.data.title }}</div>
      {% endif %}
      {% if photo.data.description %}
        <div class="text-sm text-gray-600 text-center">{{ photo.data.description }}</div>
      {% endif %}
    </div>
  {% endfor %}
</div>
